site_name: DHIS2 Modeling
site_url: https://dhis2-chap.github.io/chap-site
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.tracking
    - content.code.copy
    - content.action.edit
    - toc.integrate
  palette:
    - scheme: default
      primary: white
      accent: blue
    - scheme: slate
      primary: black
      accent: blue
  logo: assets/logo.png
  favicon: assets/favicon.ico
  font:
    text: Roboto
    code: Roboto Mono
extra_css:
  - assets/stylesheets/style.css

extra:
  generator: false

# Add header/footer templates
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js

plugins:
  - search

nav:
  - 'Home': index.md
  - 'Guides & Tutorials': index.md
  - 'Documentation': index.md
  - 'Community': index.md
  - 'About': about.md
