site_name: DHIS2 Modeling
site_url: https://chap.dhis2.org
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tracking
    - content.code.copy
    - content.action.edit
  palette:
    - scheme: default
      primary: white
      accent: blue
  logo: assets/images/dhis2modeling_logo.svg
  favicon: assets/images/Chap_icon.svg
  font:
    text: Roboto
    code: Roboto Mono
extra_css:
  - assets/stylesheets/extra.css

extra:
  generator: false

# Add header/footer templates
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js

plugins:
  - search
  - mkdocs-video:
      css_style:
          width: "100%"
          aspect-ratio: "16 / 9"
          height: "auto"
          max-height: "60vh"
          object-fit: "cover"

markdown_extensions:
  - toc:
      toc_depth: "1-1"
  - admonition
  - codehilite
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.blocks.caption

nav:
  - Home: index.md
  - '2026 Modeling webinar series':
    - Homework before Jan 14: tech-intro/index.md
    - Terminal basics: tech-intro/terminal.md
    - Git & GitHub: tech-intro/git-github.md
    - Virtual environments: tech-intro/virtual-environments.md
  - 'Guides & Tutorials':
    - Overview: guides/index.md
    - Implement Chap for DHIS2: guides/#implement-chap-for-dhis2
    - Model development: guides/#model-development
    - Chap CLI Tool: guides/#run-chap-from-commandline
  - 'Community': 
    - community/support.md
    - community/newsletter.md
    - Contributing: 
      - community/contributing/contribute_model.md
      - community/contributing/contribute_code.md
  - 'About': 
    - about/index.md
    - about/motivation.md
    - Partners: about/partners.md
    - about/roadmap.md
