site_name: DHIS2 Modeling
site_url: https://chap.dhis2.org
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tracking
    - navigation.prune
    - content.code.copy
    - content.action.edit
  palette:
    - scheme: default
      primary: white
      accent: blue
  logo: assets/images/dhis2modeling_logo.svg
  favicon: assets/images/Chap_icon.svg
  font:
    text: Roboto
    code: Roboto Mono
extra_css:
  - assets/stylesheets/extra.css
  - assets/stylesheets/webinar.css

extra:
  generator: false

# Add header/footer templates
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js

plugins:
  - search
  - mkdocs-video:
      css_style:
        width: "100%"
        aspect-ratio: "16 / 9"
        height: "auto"
        max-height: "60vh"
        object-fit: "cover"

markdown_extensions:
  - toc:
      toc_depth: "1-1"
  - admonition
  - codehilite
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.blocks.caption

nav:
  - Home: index.md
  - "Modeling Webinar Series":
      - "Overview": 2026-webinar-series/index.md
      - "Session 1": 2026-webinar-series/session-1/index.md
      - "Session 2":
          - 2026-webinar-series/session-2/index.md
          - 2026-webinar-series/session-2/terminal.md
          - 2026-webinar-series/session-2/git-github.md
          - 2026-webinar-series/session-2/virtual-environments.md
          - 2026-webinar-series/session-2/homework.md
      - "Session 3":
          - 2026-webinar-series/session-3/index.md
          - 2026-webinar-series/session-3/install-chap.md
          - 2026-webinar-series/session-3/fork-example.md
          - 2026-webinar-series/session-3/homework.md
  - "Documentation":
      - Getting Started: guides/chap-core/index.md
      - Modeling App:
          - Overview: guides/chap-core/modeling-app/index.md
          - Installation: guides/chap-core/modeling-app/installation.md
          - Using the App: guides/chap-core/modeling-app/modeling-app.md
          - Server Deployment: guides/chap-core/modeling-app/running-chap-on-server.md
      - Model Developers:
          - Overview: guides/chap-core/external_models/index.md
          - Getting Started:
            - For Newcomers: guides/chap-core/external_models/newcomer.md
            - For Experienced Modellers: guides/chap-core/external_models/experienced_modeller.md
            - Learning Modelling: guides/chap-core/external_models/learn_modelling.md
          - Building Models:
            - Chapkit: guides/chap-core/external_models/chapkit.md
            - Describe Your Model: guides/chap-core/external_models/describe_model.md
            - Train and Predict: guides/chap-core/external_models/train_and_predict.md
            - Running Models: guides/chap-core/external_models/running_models_in_chap.md
          - Integration:
            - DHIS2 Connection: guides/chap-core/external_models/chap-dhis2-connection.md
            - Supporting Functionality: guides/chap-core/external_models/supporting_functionality.md
            - Evaluation Examples: guides/chap-core/external_models/chap_evaluate_examples.md
            - Side by Side Comparison: guides/chap-core/external_models/side_by_side_comparison.md
      - CLI:
          - Overview: guides/chap-core/chap-cli/index.md
          - Setup: guides/chap-core/chap-cli/chap-core-cli-setup.md
          - Evaluation Workflow: guides/chap-core/chap-cli/evaluation-workflow.md
          - evaluate2 Reference: guides/chap-core/chap-cli/evaluate2-reference.md
      - Contributors:
          - Overview: guides/chap-core/contributor/index.md
          - Getting Started: guides/chap-core/contributor/getting_started.md
          - Setup: guides/chap-core/contributor/chap-contributor-setup.md
          - Windows Setup: guides/chap-core/contributor/windows_contributors.md
          - Code Overview: guides/chap-core/contributor/code_overview.md
          - Vocabulary: guides/chap-core/contributor/vocabulary.md
          - Testing: guides/chap-core/contributor/testing.md
          - Database Migrations: guides/chap-core/contributor/database_migrations.md
          - Documentation: guides/chap-core/contributor/writing_building_documentation.md
          - Development Tools: guides/chap-core/contributor/development_tools.md
          - Evaluation Abstraction: guides/chap-core/contributor/evaluation_abstraction.md
          - Preference Learning: guides/chap-core/contributor/preference_learning.md
      - Web API:
          - Overview: guides/chap-core/webapi/index.md
          - Developer Guide: guides/chap-core/webapi/developer.md
          - Docker Compose: guides/chap-core/webapi/docker-compose-doc.md
      - API Reference: guides/chap-core/api/index.md
      - Changelog: guides/chap-core/changelog.md
  - "Community":
      - community/support.md
      - community/newsletter.md
      - Contributing:
          - community/contributing/contribute_model.md
          - community/contributing/contribute_code.md
  - "About":
      - about/index.md
      - about/motivation.md
      - Partners: about/partners.md
      - about/roadmap.md
