site_name: DHIS2 Modeling
site_url: https://dhis2-chap.github.io/chap-site
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tracking
    - content.code.copy
    - content.action.edit
  palette:
    - scheme: default
      primary: white
      accent: blue
    - scheme: slate
      primary: black
      accent: blue
  logo: assets/images/dhis2modeling_logo.svg
  favicon: assets/images/Chap_icon.svg
  font:
    text: Roboto
    code: Roboto Mono
extra_css:
  - assets/stylesheets/extra.css

extra:
  generator: false

# Add header/footer templates
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js

plugins:
  - search
  - mkdocs-video

markdown_extensions:
  - admonition
  - codehilite
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.blocks.caption

nav:
  - Home: index.md
  - 'Guides & Tutorials': 
    - index.md
  - 'Documentation': https://dhis2-chap.github.io/chap-core/
  - 'Community': 
    - community/support.md
    - community/newsletter.md
    - Contributing: 
      - community/contributing/contribute_model.md
      - community/contributing/contribute_code.md
  - 'About': 
    - about/index.md
    - about/motivation.md
    - Partners: about/partners.md
    - about/roadmap.md
