site_name: DHIS2 Modeling
site_url: https://chap.dhis2.org
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.tracking
    - navigation.expand
    - content.code.copy
    - content.action.edit
  palette:
    - scheme: default
      primary: white
      accent: blue
  logo: assets/images/dhis2modeling_logo.svg
  favicon: assets/images/Chap_icon.svg
  font:
    text: Roboto
    code: Roboto Mono
extra_css:
  - assets/stylesheets/extra.css
  - assets/stylesheets/webinar.css

extra:
  generator: false

# Add header/footer templates
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js

plugins:
  - search
  - multirepo:
      cleanup: true
  - mkdocs-video:
      css_style:
        width: "100%"
        aspect-ratio: "16 / 9"
        height: "auto"
        max-height: "60vh"
        object-fit: "cover"

markdown_extensions:
  - toc:
      toc_depth: "1-1"
  - admonition
  - codehilite
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.blocks.caption

nav:
  - Home: index.md
  - "Chap Modeling Platform": "!import https://github.com/dhis2-chap/chap-core?branch=master"
  - "Modeling Webinar Series":
      - "Overview": 2026-webinar-series/index.md
      - "Session 1": 2026-webinar-series/session-1/index.md
      - "Session 2":
          - 2026-webinar-series/session-2/index.md
          - 2026-webinar-series/session-2/terminal.md
          - 2026-webinar-series/session-2/git-github.md
          - 2026-webinar-series/session-2/virtual-environments.md
          - 2026-webinar-series/session-2/homework.md
      - "Session 3":
          - 2026-webinar-series/session-3/index.md
          - 2026-webinar-series/session-3/install-chap.md
          - 2026-webinar-series/session-3/fork-example.md
          - 2026-webinar-series/session-3/homework.md
      - "Session 4": 2026-webinar-series/session-4/index.md
      - "Session 5": 2026-webinar-series/session-5/index.md
      - "Session 6": 2026-webinar-series/session-6/index.md
  #- "Guides & Tutorials":
  #    - Overview: guides/index.md
  #    - Implement Chap for DHIS2: guides/#implement-chap-for-dhis2
  #    - Model development: guides/#model-development
  #    - Chap CLI Tool: guides/#run-chap-from-commandline
  #    - Using the modeling app:
  #        - Getting Started: guides/using-the-modeling-app/getting-started.md
  #        - Creating an evaluation: guides/using-the-modeling-app/creating-an-evaluation.md
  #        - Creating a prediction: guides/using-the-modeling-app/creating-a-prediction.md
  - "Community":
      - community/support.md
      - community/newsletter.md
      - Contributing:
          - community/contributing/contribute_model.md
          - community/contributing/contribute_code.md
  - "About":
      - about/index.md
      - about/motivation.md
      - Partners: about/partners.md
      - about/roadmap.md
